@{
    ViewBag.Title = "Context";
}

<h2>Context</h2>
<p>The following diagram provides context for the system under discussion. This is a view of the system that 
    helps us to see the system at a very high level. It helps us to understand the people (i.e. <<roles>>), 
    hardware (i.e. <<devices>>), and external systems (i.e. <<systems>>) that interact with the system under 
    discussion.
</p>
<br />
<img src="~/Content/Images/context.png" />