@{
    ViewBag.Title = "KeyAbstractions";
}

<h2>KeyAbstractions</h2>
<p>The class diagram below shows the key abstractions involved. Key abstractions are the key concepts 
    and abstractions that the system needs to handle. They are those things that, without which, you 
    could not describe the system. Key abstractions drive design of the database schema and the domain 
    model (if applicable).
</p>
<br />
<img src="~/Content/Images/keyabstractions.png" />
