@{
    ViewBag.Title = "States";
}

<h2>States</h2>
<p>The state machine view describes the dynamic behavior of objects over time by modeling the lifecycles 
    of objects of each class. Each object is treated as an isolated entity that communicates with the rest 
    of the world by detecting events and responding to them. Events represent the kinds of changes that an 
    object can detect. Anything that can affect an object can be characterized as an event.
</p>
<br />
<img src="~/Content/Images/states.png" />
