@{
    ViewBag.Title = "UseCases";
}

<h2>UseCases</h2>
<p>A Use Case is a list of steps, typically defining interactions between a role (i.e. Actor) and a system 
    to achieve a goal. The actor can be a human or an external system. Use Cases describe the functional 
    view of the system under discussion as a set of business transactions. Use Cases influence UI design, 
    domain models, application service interfaces, and define business transactions. The following Use Case 
    diagram shows some, if not all, of the actors and use cases involved.
</p>
<p>An actor specifies a role played by a user or any other system that interacts with the system under 
    discussion. Actors influence UI design and security concerns. The list below provides definitions for the 
    actors surrounding the system.</p>
<br />
<img src="~/Content/Images/usecases.png" />
