body {
    margin: 0px;
    padding: 50px 0px 20px 0px;
	font-family: Calibri, Arial, sans-serif;
	font-size: 1.2em;
	color: #000000;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.gridviewtitle {
    height:18px;
    margin: 3px 0px;
    padding: 2px 10px;
    background-color:#eeeeee;
    font-size: 1.0em;
    font-weight: bold;
}
.gridviewtitlelabel {
    float:left;
}
.gridviewtitlesearch {
    float:right;
}
.gridviewbody {
    margin:0px;
    padding:0px;
    border-bottom: 1px solid #c5c7c9;
    overflow-x:auto;
    overflow-y:auto;
    white-space:nowrap;
}
.gridviewbody a {
    color: #ee2a24;
    text-decoration: none;
	text-align: center;
}
.gridviewbody a:hover { color: #ee2a24; }

.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}
