@{
    ViewBag.Title = "About VS15.Blog.Mvc";
}
<h4>@ViewBag.Title.</h4>
<p>This is a sample web application using Knockout, Bootstrap, .Net MVC, and Entity Framework.</p>
<p>It allows blog posts to be managed, and blog comments to be associated to blog posts.</p>
