@{
    ViewBag.Title = "Blog Page";
}
@model IEnumerable<VS15.Blog.Models.Blog>

<div class="container">
    <div class="blog-header">
        <h2 class="blog-title">jpHeary's Blog</h2>
        <p class="lead blog-description">Jim Heary is a software engineer in New Jersey</p>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8 blog-main">
            @foreach (var blog in Model) {
                <div class="blog-post">
                    <h4 class="blog-post-title">@Html.ActionLink(blog.Title, "Blog", new { id = blog.BlogID }, new { id = "linkId", title = "Click here to view this blog." })</h4>
                    <p class="blog-post-meta">@Html.DisplayFor(modelItem => blog.WhenPosted) by <a href="#">@Html.DisplayFor(modelItem => blog.Author)</a></p>
                    <p>@Html.DisplayFor(modelItem => blog.Body)</p>
                </div>
            }
            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>A sample MVC web application.</p>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">December 2016</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
