@{
    ViewBag.Title = "Images";
}
<h2>Images</h2>

<h3>Responsive images</h3>
<p>Images in Bootstrap 3 can be made responsive-friendly via the addition of the .img-responsive class. This applies max-width: 100%;, height: auto; and display: block; to the image so that it scales nicely to the parent element.</p>
<p>To center images which use the .img-responsive class, use .center-block instead of .text-center.</p>
<img src="~/Content/califon2004.png" class="img-responsive" alt="Responsive image">
<hr />

<h3>Image shapes</h3>
<p>Add classes to an &lt;img&gt; element to easily style images in any project.</p>
<img src="~/Content/califon2004.png" alt="rounded" class="img-rounded">
<img src="~/Content/califon2004.png" alt="circle" class="img-circle">
<img src="~/Content/califon2004.png" alt="thumbnail" class="img-thumbnail">