@{
    ViewBag.Title = "Typography";
}
<h2>Typography</h2>
<hr />

<h3>Headings</h3>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<hr />

<h3>Lead Body Copy <code>class="lead"</code></h3>
<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
<hr />

<h3>Inline Text Elements</h3>
<h5>Marked Text <code>&lt;mark&gt;</code></h5>
You can use the mark tag to <mark>highlight</mark> text.
<br />
<h5>Strikethrough Text<code>&lt;del&gt;</code></h5>
<del>This line of text is meant to be treated as deleted text.</del>
<br />
<h5>Inserted Text<code>&lt;ins&gt;</code></h5>
<ins>This line of text is meant to be treated as an addition to the document.</ins>
<br />
<h5>Underlined Text<code>&lt;u&gt;</code></h5>
<u>This line of text will render as underlined</u>
<br />
<h5>Small Text<code>&lt;small&gt;</code></h5>
<small>This line of text is meant to be treated as fine print.</small>
<br />
<h5>Bold Text<code>&lt;strong&gt;</code></h5>
<strong>rendered as bold text</strong>
<br />
<h5>Italics Text<code>&lt;em&gt;</code></h5>
<em>rendered as italicized text</em>
<hr />

<h3>Abbreviations</h3>
<h5>Basic Abbreviation <code>&lt;abbr&gt;</code></h5>
<abbr title="attribute">attr</abbr>
<br />
<h5>Initialism<code>&lt;abbr class="initialism"&gt;</code></h5>
<abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
<hr />

<h3>Addresses <code>&lt;address&gt;</code></h3>
<address>
    <strong>jpHeary</strong><br>
    23 Edgewood Road<br>
    Matawan, NJ 07747<br>
    <abbr title="Phone">P:</abbr> (732) 692-0628
    <a href="mailto:#">james.heary@hotmail.com</a>
</address>
<hr />

<h3>Blockquotes <code>&lt;blockquote&gt;</code></h3>
<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
<hr />

<h3>Lists</h3>
<h5>Unordered List<code>&lt;ul class="list-unstyled"&gt;</code></h5>
<ul class="list-unstyled">
    <li>One for the money</li>
    <li>Two for the show</li>
    <li>Three to get ready</li>
</ul>
<br />
<h5>Inline List<code>&lt;ul class="list-inline"&gt;</code></h5>
<ul class="list-inline">
    <li>One for the money</li>
    <li>Two for the show</li>
    <li>Three to get ready</li>
</ul>
